.carousel {
    position: relative;
    background-image: url('/path/to/your/image.jpg');
    background-size: cover;
    height: 400px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .carousel-arrows {
    position: absolute;
    padding: 20px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .arrow {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  